@{
    ViewBag.Title = "Home Page";
}

<div id="main">


    <div class="kanal">
        <h2>Svt</h2>
        <table>
            <tr>
                <th>Program</th>
                <th>Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.Channel == 1)
                {
                <tr>
                    <td>@p.ProgramName</td>
                    <td>@p.Time</td>
                </tr>
                }
            }
        </table>
    </div>
</div>