
@{
    ViewBag.Title = "AddChannel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<string>

               <div>

                  

                   <form method="get" action="@Url.Action("AddedFavorite", "VM")">
                       <select name="channl">
                           @foreach (var item in Model)
                {
                           <option value="@item">@item</option>
                }
                       </select>
                       
                       <button type="submit" name="uname" id="uname" value="@ViewBag.UserName">Lägg till</button>
                   </form>

               </div>




