
@{
    ViewBag.Title = "EditFavorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}


<div>
    <form method="get" action="@Url.Action("AddFavorite", "VM")">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <button type="submit">Login</button>
    </form>
</div>

