.day {
    padding-right: 10px;
    float: left;
}

#days {
    padding-top: 20px;
    padding-bottom: 50px;
}

.options {
    float: right !important;
}

#plist{
    margin-left: 0px;
    position: fixed;
    left: 0px;
    padding-left: 0px;
}