/*.day {
    padding-right: 10px;
    float: left;
}

#days {
    padding-top: 20px;
    padding-bottom: 50px;
}

.options {
    float: right !important;
}

#plist{
    margin-left: 0px;
    position: fixed;
    left: 0px;
    padding-left: 0px;
}

.logdiv {
    top: 0;
    right: 0;
    position: fixed;
}*/


#adminButtons, #idp { 
    width:100%;
    height:70px;
    /*background-color:darkorchid;*/
}

a.knappy {
    display: block;
    width: 100px;
    height: 40px;
    text-align:center;
    border-radius: 12px;
    background-color: lightskyblue;
    float: left;
    margin-top:20px;
    margin-right:10px;
    margin-left:10px;
}

#pknappy {
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 12px;
    background-color: lightskyblue;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.fail {
    margin: auto;
    padding-top:250px;
    text-align: center;
}

.hdate {
    margin-top: 80px;
    text-align: center;
}

.kh {
    text-align: center;
}

.thtid {
    width: 50px;
    background-color: skyblue;
    border: solid;
}

.thprog {
    width: 180px;
    background-color: skyblue;
    border: solid;
}


/*th, td {
    width: 150px;
    background-color:coral;
    border:solid;
}*/

.kanal {
    float:left;
    padding-left: 50px;
    
}

#main {
    margin-left: 120px;
    /*margin-top: 30px;*/
}

#genreh {
    /*margin-left: 25px;*/
}

.cat {
    margin-bottom: 10px;
}

.w3-bar {
    background-color: skyblue;
}

p {
    padding-left: 5px;
    margin: 3px;
}

#puffar {
    overflow: hidden;
    margin: auto;
    padding-top: 20px;
    width: 790px;
    
}

.puff + .puff {
    margin-left: 20px;
}

.puff {
    border-radius: 25px;
    position:center;
    border: 1px solid;
    /*padding-right: 15px;*/
    float: left;
    width: 250px;
    height: 180px;
}
.logdiv {
    top: 0;
    right: 0;
    position: fixed;
    padding-top:10px;
    padding-right: 10px;
}
.category {
    padding-left: 20px;
    top: 100px;
    left: 0;
    width: 130px;
    position: fixed;
    height: 100%;
    
}

#smore {
    width: 500px;
    margin: auto;
    padding-top:150px;
    /*background-color: dodgerblue;*/
}

#tpuffar {
    overflow: hidden;
    margin: auto;
    padding-top: 20px;
    width: 700px;
    /*background-color: deeppink;*/
}

.tpuff {
    position: center;
    /*padding-right: 15px;*/
    float: left;
    width: 233px;
    height: 180px;
    /*background-color: blueviolet;*/
}

.infoTd {
    width: 200px;
    /*background-color: aqua;*/
    margin-left: -2px;
}

#pTh {
    text-align: center;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 681px) {

    .kanal {
        float: none;
        width: 70%;
        margin-left: 10%;
    }

    #main {
        width: 100%;
        margin-left: 0px;
        /*margin-top: 30px;*/

    }

    .cat {
        float: left;
        width: 16.6%;
        margin-left: 0;
        height: 50px;
    }

    #genreh {
        display: none;
    }

    .category {
        top: 55px;
        left: 0;
        width: 100%;
        position: center;
        margin: auto;
        float: left;
        
        height: 60px;
        padding-left: 0;
    }

    .puff {
        display: none;
    }

    #puffar {
        display: none;
    }

    .logdiv {
        
        top: 0;
        left: 0;
        position: fixed;
        padding-top: 10px;
        padding-right: 10px;
        margin-right: 50px;
    }
    #boop {
       
        display: none;
        
    }
    #date{
        display: none;
    }
    #lbboop {
        display: none;
    }
    .hdate{
        margin-top: 140px;
    }
}
@media screen and (max-width: 1201px) {

    .kanal {
        float: left;
        height: 300px;
        width: 30%;
        margin-left: 20px;
       
        padding-bottom: 50px;
        
    }
    
    #main {
        width: 100%;
        margin-left: 0px;
    }

    .cat {
        float: left;
        width: 16.6%;
        margin-left: 0;
        height: 50px;
        margin-right:0;
    }

    #genreh {
        display: none;
    }

    .category {
        top: 70px;
        left: 0;
        width: 100%;
        position: center;
        margin: auto;
        float: left;
        
        height: 60px;
        padding-left: 0;
    }

    .logdiv {
        top: 0;
        right: -290px;
        position: fixed;
        padding-top: 10px;
        padding-right: 0; 
        margin-right: 0;
    }

    #boop {
        /*float: left;*/
        width: 15%;
        margin-right: 2px;
        height: 40px;
    }

    #date {
        width: 15%;
        right: 0;
        height: 40px;
        margin-right: 0;
        padding-right:0;
        
    }

    #lbboop {
        display: none;
    }

    .hdate {
        margin-top: 140px;
    }




}


