/*.day {
    padding-right: 10px;
    float: left;
}

#days {
    padding-top: 20px;
    padding-bottom: 50px;
}

.options {
    float: right !important;
}

#plist{
    margin-left: 0px;
    position: fixed;
    left: 0px;
    padding-left: 0px;
}

.logdiv {
    top: 0;
    right: 0;
    position: fixed;
}*/
.hdate {
    margin-top: 80px;
    text-align: center;
}

.kh {
    text-align: center;
}

th, td {
    width: 150px;
    background-color:coral;
    border:solid;
}

.kanal {
    float:left;
    padding-left: 70px;
    margin-top: 5px;
}

#main {
    margin-left: 130px;
    margin-top: 100px;
}

#genreh {
    /*margin-left: 25px;*/
}

.cat {
    margin-bottom: 10px;
}

.w3-bar {
    background-color: skyblue;
}

p {
    padding-left: 5px;
    margin: 3px;
}

#puffar {
    overflow:hidden;
    /*margin-top: 20px;*/
    width: 250px; 
    position: fixed;
    right: 0;
}


.puff {
    border-radius: 25px;
    border: 1px solid;
    padding-right: 15px;
    padding-bottom: 5px;
    float: left;
    width: 200px;
    margin-top: 30px;
}
.logdiv {
    top: 0;
    right: 0;
    position: fixed;
    padding-top:10px;
    padding-right: 10px;
}
.category {
    padding-left: 20px;
    top: 100px;
    left: 0;
    width: 130px;
    position: fixed;
    background-color: chartreuse;
}

